<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Файловый менеджер</title>
    <link rel="stylesheet" th:href="@{/css/error.css}" type="text/css"/>
</head>
<body>
<h1 style="text-align: center;">Ошибка Bad Request</h1>
<p>Неверные параметры запроса.</p>
<p>Если вы пытаетесь загрузить файл, удостоверьтесь, что он не пустой и принадлежит к типу JSON. Попробуйте снова.</p>
<p>При манипуляциях с файлами проверьте ID файла.</p>
<p>Попробуйте снова.</p>
</body>