<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>ПРОСМОТРЩИК JSON</h1>
<h2>Добро пожаловать, <strong th:text="${username}"></strong></h2>
<p>
    Загрузка файла:
</p>
<form action="#" th:action="@{/upload}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Загрузить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Имя файла</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file:${files}">
        <td th:text="${file.getFileName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>