<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Файловый менеджер</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

        body {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
<header class="container-fluid p-3 bg-primary text-white" style="min-height: 100px">
    <div class="row align-items-center">
        <div class="col">
            <h1>🗃️ Файловый менеджер</h1>
        </div>
        <div class="col-auto text-end">
            <div class="row">
                <div class="col-auto">
                    Уникальный идентификатор пользователя: <strong th:text="${currentUser.id}"></strong><br>
                    Имя пользователя: <strong th:text="${currentUser.username}"></strong>
                </div>
                <div class="col-sm-auto">
                    <a th:href="@{/logout}">
                        <button class="btn btn-danger" style="width: 128px">Выйти</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="container mt-4 mb-4">
    <div class="row">
        <form action="#" enctype="multipart/form-data" method="get"
              th:action="@{/page/1(criteria=${sortingCriteria},direction=${isAscending ? 'asc' : 'desc'})}">
            <div class="col-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input class="form-control" id="search" name="filename" placeholder="Искать..." type="search"/>
                    <button class="btn btn-outline-primary" type="submit">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover table-sm table-responsive table-bordered" style="min-height:400px">
            <thead class="table-dark">
            <tr>
                <th>Уникальный идентификатор файла</th>
                <th><a class="text-decoration-none text-white"
                       th:href="@{/page/1(criteria='filename',direction=${isAscending ? 'desc' : 'asc'})}">
                    Название файла </a></th>
                <th><a class="text-decoration-none text-white"
                       th:href="@{/page/1(criteria='length',direction=${isAscending ? 'desc' : 'asc'})}">
                    Размер файла </a></th>
                <th><a class="text-decoration-none text-white"
                       th:href="@{/page/1(criteria='createdAt',direction=${isAscending ? 'desc' : 'asc'})}">
                    Дата создания </a></th>
                <th><a class="text-decoration-none text-white"
                       th:href="@{/page/1(criteria='updatedAt',direction=${isAscending ? 'desc' : 'asc'})}">
                    Дата обновления </a></th>
            </tr>
            </thead>
            <tbody>
            <tr style="cursor: pointer;" th:attr="onclick=|setUUID('${file.id}')|" th:each="file:${files}">
                <td th:text="${file.id}"></td>
                <td th:text="${file.filename}"></td>
                <td th:text="${file.length} + ' байт'"></td>
                <td th:text="${file.createdAt}"></td>
                <td th:text="${file.updatedAt}"></td>
            </tr>
            <tr th:if="${files.size() < maxElementsPerPage}">
                <td colspan="5" style="height: 100%">&nbsp;</td>
            </tr>
            </tbody>
            <tfoot class="table-dark">
            <tr>
                <th colspan="1">Всего записей в базе данных</th>
                <td colspan="4" th:text="${totalItems}"></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <ul class="pagination justify-content-center">
            <li th:class="'page-item ' + ${currentPage < 3 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/page/1}"> <i class="bi bi-chevron-double-left"></i> </a>
            </li>
            <li th:class="'page-item ' + ${currentPage <= 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/page/' + ${currentPage - 1}}"> <i class="bi bi-chevron-left"></i> </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{'/page/' + ${currentPage}}"
                   th:text="'Страница ' + ${currentPage} + ' из ' + ${totalPages}"></a>
            </li>
            <li th:class="'page-item ' + ${currentPage > totalPages - 1 || totalPages < 2 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/page/' + ${(currentPage + 1)}}"> <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <li th:class="'page-item ' + ${currentPage >= totalPages - 1 || totalPages < 3 ? 'disabled' : '' } ">
                <a class="page-link" th:href="@{'/page/' + ${totalPages}}"> <i class="bi bi-chevron-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <form action="#" class="row was-validated" enctype="multipart/form-data" method="post" novalidate
              th:action="@{~/edit}">
            <div class="mb-2 mt-2">
                <label class="form-label" for="id">Уникальный идентификатор файла:</label>
                <input class="form-control" id="id" name="id" type="text">
            </div>
            <div class="mb-2">
                <label class="form-label" for="filename">Имя файла:</label>
                <input class="form-control" id="filename" name="filename" type="text">
            </div>
            <div class="mb-2 mt-2">
                <label class="form-label" for="authorId">Уникальный идентификатор пользователя:</label>
                <input class="form-control" id="authorId" name="authorId" readonly th:value="${currentUser.id}"
                       type="text"/>
            </div>
            <div class="mb-2">
                <label class="form-label" for="file">Файл:</label>
                <input class="form-control" id="file" name="file" type="file"/>
                <small class="form-text text-muted">Это должен быть файл формата JSON.</small>
            </div>
            <div class="btn-group d-flex" role="group">
                <button class="btn btn-primary" name="action" type="submit" value="create"><i class="bi bi-upload"></i>
                    Загрузить файл
                </button>
                <button class="btn btn-primary" name="action" type="submit" value="read"><i class="bi bi-download"></i>
                    Скачать файл
                </button>
                <button class="btn btn-primary" name="action" type="submit" value="update"><i
                        class="bi bi-arrow-repeat"></i> Обновить файл
                </button>
                <button class="btn btn-primary" name="action" type="submit" value="delete"><i class="bi bi-x-lg"></i>
                    Удалить файл
                </button>
            </div>
        </form>
    </div>
</main>
<footer class="container-fluid p-3 mt-auto bg-primary text-white" style="min-height: 100px">
    <div class="row text-center justify-content-center align-items-center">
        <div class="col">
            <strong>Летняя практика 2022, ПАО Сбербанк, г. Омск</strong>
        </div>
        <div class="col">
            <strong>Арестов В. А., Лепешкин В.О., Осипова Я. Д., Петров Р.Ю. 😼</strong>
        </div>
    </div>
</footer>
<script>
    function setUUID(uuid) {
        const input = document.getElementById('id');
        input.setAttribute("value", uuid);
    }
</script>
</body>
</html>