html {
    color: black;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

header {
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 72px;
}

body {
    margin: 0;
    height:100vh;
    display:flex;
    flex-direction:column;
}

main {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    border: 1px black solid;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.management {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

form {
    height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    width: 512px;
    height: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px grey solid;
    text-align: center;
}

table th, td {
    border: 1px black solid;
}

footer {
    margin-top:auto;
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 72px;
}