html {
    color: black;
    font-size: 16px;
    font-family: "Times New Roman", serif;
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

header {
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    border: 1px black solid;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section {
    width: 80%;
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table th, td {
    border: 1px black solid;
}

form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border: 1px black solid;
    color: black;
    border-radius: 0;
    font-weight: bold;
    background-color: white;
    width: 128px;
}

button:hover {
    cursor: pointer;
    background-color: ghostwhite;
}