html {
    color: black;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

header {
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 128px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 32px auto;
    width: 80%;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.management {
    display: flex;
    justify-content: space-around;
}

.management form {
    flex: 1 1 0;
}

.navigation nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.navigation nav a {
    margin: 0 12px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

table th, td {
    border: 1px black solid;
}

table tr {
    height: 16px;
}

footer {
    margin-top: auto;
    border: 1px black solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 128px;
}